@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Let's test our deployment pipeline from desktop Visual Studio. 
        We change this text and commit it. Will it change on the site?'</p>
    <p>Yes it did. It took some time, but then the page was automatically 
        updated to reflect the latest stage in master branch.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
